
@{
    Layout = "/Views/Shared/_LayoutAdmin.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <!--Silvina been here v2-->
    <div class="content-wrap">
        <div class="main">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8 p-0">
                        <div class="page-header">
                            <div class="page-title">
                                <h1>Ki Ara's Menu</h1>
                            </div>
                        </div>
                    </div><!-- /# column -->
                    <div class="col-lg-4 p-0">
                        <div class="page-header">
                            <div class="page-title">
                                <ol class="breadcrumb text-right">
                                    <li><a href="#">Dashboard</a></li>
                                    <li class="active">Menu</li>
                                </ol>
                            </div>
                        </div>
                    </div><!-- /# column -->
                </div><!-- /# row -->
                <!-- Coffee -->
                <div class="main-content">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="card alert">
                                <div class="card-header">
                                    <h4>Coffee</h4>
                                </div>
                                <div class="card-body">
                                    <table class="table table-responsive table-hover ">
                                        <tbody>
                                            <tr>
                                                <td class="no-border">Americano</td>
                                                <td class="no-border"><span class="btn btn-primary">20K</span></td>
                                            </tr>
                                            <tr>
                                                <td>Long Black</td>
                                                <td><span class="btn btn-primary">20k</span></td>
                                            </tr>
                                            <tr>
                                                <td>Espresso</td>
                                                <td><span class="btn btn-primary">10K</span></td>
                                            </tr>
                                            <tr>
                                                <td>Mochaccino</td>
                                                <td><span class="btn btn-primary">23K</span></td>
                                            </tr>
                                            <tr>
                                                <td>Macchiato</td>
                                                <td><span class="btn btn-primary">23K</span></td>
                                            </tr>
                                            <tr>
                                                <td>Cappucino</td>
                                                <td><span class="btn btn-primary">22K</span></td>
                                            </tr>
                                            <tr>
                                                <td>Caffe Latte</td>
                                                <td><span class="btn btn-primary">22K</span></td>
                                            </tr>
                                            <tr>
                                                <td>Japanese Ice Special Beans</td>
                                                <td><span class="btn btn-primary">22K</span></td>
                                            </tr>
                                            <tr>
                                                <td>V60 Special Beans</td>
                                                <td><span class="btn btn-primary">22K</span></td>
                                            </tr>
                                            <tr>
                                                <td>Japanese Ice Regular Beans</td>
                                                <td><span class="btn btn-primary">20K</span></td>
                                            </tr>
                                            <tr>
                                                <td>V60 Regular Beans</td>
                                                <td><span class="btn btn-primary">20K</span></td>
                                            </tr>
                                            <tr>
                                                <td>Vietnam Drip Special Beans</td>
                                                <td><span class="btn btn-primary">20K</span></td>
                                            </tr>
                                            <tr>
                                                <td>Vietnam Drip</td>
                                                <td><span class="btn btn-primary">18K</span></td>
                                            </tr>
                                            <tr>
                                                <td>Kopi Tubruk</td>
                                                <td><span class="btn btn-primary">18K</span></td>
                                            </tr>
                                            <tr>
                                                <td>Kopi Sanger</td>
                                                <td><span class="btn btn-primary">18K</span></td>
                                            </tr>
                                            <tr>
                                                <td>Es Kopi Susu Tunas</td>
                                                <td><span class="btn btn-success">22K</span></td>
                                            </tr>
                                            <tr>
                                                <td>Es Kopi Susu Bae</td>
                                                <td><span class="btn btn-success">22K</span></td>
                                            </tr>
                                            <tr>
                                                <td>Es Kopi Susu Pandan</td>
                                                <td><span class="btn btn-primary">22K</span></td>
                                            </tr>
                                            <tr>
                                                <td>Es Kopi Susu Vanilla</td>
                                                <td><span class="btn btn-primary">22K</span></td>
                                            </tr>
                                            <tr>
                                                <td>Es Kopi Susu Aren</td>
                                                <td><span class="btn btn-primary">22K</span></td>
                                            </tr>
                                            <tr>
                                                <td>Es Kopi Susu</td>
                                                <td><span class="btn btn-primary">18K</span></td>
                                            </tr>
                                            <tr>
                                                <td>Add 1 Shot Espresso</td>
                                                <td><span class="btn btn-primary">5K</span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div><!-- /# Coffee -->
                        <!-- /# Non-Coffee -->
                        <div class="col-lg-4">
                            <div class="card alert">
                                <div class="card-header">
                                    <h4>Non-Coffee</h4>
                                </div>
                                <div class="card-body">
                                    <table class="table table-responsive table-hover ">
                                        <tbody>
                                            <tr>
                                                <td class="no-border">Ms Choco Caramel</td>
                                                <td class="no-border"><span class="btn btn-primary">18K</span></td>
                                            </tr>
                                            <tr>
                                                <td>Ms Choco Banana</td>
                                                <td><span class="btn btn-primary">18K</span></td>
                                            </tr>
                                            <tr>
                                                <td>Ms Red Velvet</td>
                                                <td><span class="btn btn-primary">18K</span></td>
                                            </tr>
                                            <tr>
                                                <td>Ms Strawberry</td>
                                                <td><span class="btn btn-primary">18K</span></td>
                                            </tr>
                                            <tr>
                                                <td>Ms Taro</td>
                                                <td><span class="btn btn-primary">18K</span></td>
                                            </tr>
                                            <tr>
                                                <td>Ms Vanilla</td>
                                                <td><span class="btn btn-primary">18K</span></td>
                                            </tr>
                                            <tr>
                                                <td>Ms Matcha</td>
                                                <td><span class="btn btn-primary">18K</span></td>
                                            </tr>
                                            <tr>
                                                <td>Choco Latte</td>
                                                <td><span class="btn btn-primary">20K</span></td>
                                            </tr>
                                            <tr>
                                                <td>Matcha Latter</td>
                                                <td><span class="btn btn-primary">20K</span></td>
                                            </tr>
                                            <tr>
                                                <td>Red Velvet Latte</td>
                                                <td><span class="btn btn-primary">20K</span></td>
                                            </tr>
                                            <tr>
                                                <td>Vanilla Latte</td>
                                                <td><span class="btn btn-primary">20K</span></td>
                                            </tr>
                                            <tr>
                                                <td>Taro Latte</td>
                                                <td><span class="btn btn-primary">20K</span></td>
                                            </tr>
                                            <tr>
                                                <td>Lychee Mojito</td>
                                                <td><span class="btn btn-primary">23K</span></td>
                                            </tr>
                                            <tr>
                                                <td>Strawberry Mojito</td>
                                                <td><span class="btn btn-primary">23K</span></td>
                                            </tr>
                                            <tr>
                                                <td>Virgin Mojito</td>
                                                <td><span class="btn btn-primary">18K</span></td>
                                            </tr>
                                            <tr>
                                                <td>Sunflower Mojito</td>
                                                <td><span class="btn btn-primary">18K</span></td>
                                            </tr>
                                            <tr>
                                                <td>Flamingo (Strawberry)</td>
                                                <td><span class="btn btn-primary">25K</span></td>
                                            </tr>
                                            <tr>
                                                <td>Swan (Lychee)</td>
                                                <td><span class="btn btn-primary">25K</span></td>
                                            </tr>
                                            <tr>
                                                <td>Lemon Tea</td>
                                                <td><span class="btn btn-primary">15K</span></td>
                                            </tr>
                                            <tr>
                                                <td>Sambeer</td>
                                                <td><span class="btn btn-primary">25K</span></td>
                                            </tr>
                                            <tr>
                                                <td>Air Mineral</td>
                                                <td><span class="btn btn-primary">5K</span></td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div><!-- /# Non-Coffee -->
                        <!--Food & Snacks-->
                        <div class="col-lg-4">
                            <div class="card alert">
                                <div class="card-header">
                                    <h4>Food</h4>
                                </div>
                                <div class="card-body">
                                    <table class="table table-responsive table-hover ">
                                        <tbody>
                                            <tr>
                                                <td class="no-border">Kentang Goreng</td>
                                                <td class="no-border"><span class="btn btn-primary">11K</span></td>
                                            </tr>
                                            <tr>
                                                <td>Tela Tela</td>
                                                <td><span class="btn btn-primary">8K</span></td>
                                            </tr>
                                            <tr>
                                                <td>Keripik Nyemilkuy</td>
                                                <td><span class="btn btn-primary">7K</span></td>
                                            </tr>
                                            <tr>
                                                <td>Kue Sus Kering Nyemilkuy</td>
                                                <td><span class="btn btn-primary">9K</span></td>
                                            </tr>
                                            <tr>
                                                <td>Pisang Bakar</td>
                                                <td><span class="btn btn-primary">12K</span></td>
                                            </tr>
                                            <tr>
                                                <td>Roti Bakar</td>
                                                <td><span class="btn btn-primary">12K</span></td>
                                            </tr>
                                            <tr>
                                                <td>Pisang Keju</td>
                                                <td><span class="btn btn-primary">17K</span></td>
                                            </tr>
                                            <tr>
                                                <td>Pisang Keju Campur</td>
                                                <td><span class="btn btn-primary">18K</span></td>
                                            </tr>
                                            <tr>
                                                <td>Cheesecake</td>
                                                <td><span class="btn btn-primary">20K</span></td>
                                            </tr>
                                            <tr>
                                                <td>Strawberry Cheesecake</td>
                                                <td><span class="btn btn-primary">22K</span></td>
                                            </tr>
                                            <tr>
                                                <td>Nasi Goreng Biasa</td>
                                                <td><span class="btn btn-primary">14K</span></td>
                                            </tr>
                                            <tr>
                                                <td>Nasi Goreng Ayam</td>
                                                <td><span class="btn btn-primary">16K</span></td>
                                            </tr>
                                            <tr>
                                                <td>Nasi Goreng Petai</td>
                                                <td><span class="btn btn-primary">16K</span></td>
                                            </tr>
                                            <tr>
                                                <td>Nasi Goreng Udang</td>
                                                <td><span class="btn btn-primary">18K</span></td>
                                            </tr>
                                            <tr>
                                                <td>Nasi Goreng Spesial</td>
                                                <td><span class="btn btn-primary">22K</span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- /# Food & Snacks -->
                    </div><!-- /# row -->
                </div><!-- /# main content -->
            </div><!-- /# container-fluid -->
        </div><!-- /# main -->
    </div><!-- /# content wrap -->
</body>
</html>
