
@{
    Layout = "/Views/Shared/_LayoutAdmin.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <!--Silvina been here v2-->
    <div class="content-wrap">
        <div class="main">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8 p-0">
                        <div class="page-header">
                            <div class="page-title">
                                <h1>Ki Ara's Menu</h1>
                            </div>
                        </div>
                    </div><!-- /# column -->
                    <div class="col-lg-4 p-0">
                        <div class="page-header">
                            <div class="page-title">
                                <ol class="breadcrumb text-right">
                                    <li><a href="#">Dashboard</a></li>
                                    <li class="active">Menu</li>
                                </ol>
                            </div>
                        </div>
                    </div><!-- /# column -->
                </div><!-- /# row -->
                <div class="main-content">
                    <div class="row">
                        @foreach (var kategori in Model)
                        {
                            <div class="col-lg-4">
                                <div class="card alert">
                                    <div class="card-header">
                                        <h4>@kategori.KategoriNama</h4>
                                    </div> <!-- /Card Header -->
                                    <div class="card-body">
                                        <table class="table table-responsive table-hover">
                                            <tbody>
                                                @if (kategori.Menu.Count == 0)
                                                {
                                                    <tr>
                                                        <td class="no-border" style="text-align: center;">No Data Available</td>
                                                    </tr>
                                                }
                                                @foreach (var menu in kategori.Menu)
                                                {
                                                    <tr>
                                                        <td class="no-border">@menu.NamaMenu</td>
                                                        <td class="no-border"><span class="btn btn-primary">@string.Format("{0:#,###}", menu.HargaMenu)</span></td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div> <!-- /Card Body -->
                                </div><!-- /Card -->
                            </div> <!-- /Col-lg-4 -->
                        }                        
                    </div><!-- /# row -->
                </div><!-- /# main content -->
            </div><!-- /# container-fluid -->
        </div><!-- /# main -->
    </div><!-- /# content wrap -->
</body>
</html>