
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="chat-sidebar">
    <!-- BEGIN chat -->
    <div id="mmc-chat" class="color-default">
        <!-- BEGIN CHAT BOX -->
        <div class="chat-box">
            <!-- BEGIN CHAT BOXS -->
            <ul class="boxs"></ul>
            <!-- END CHAT BOXS -->
            <div class="icons-set">
                <div class="stickers">
                    <div class="had-container">
                        <div class="row">
                            <div class="s12">
                                <ul class="tabs" style="width: 100%;height: 60px;">
                                    <li class="tab col s3">
                                        <a href="#tab1" class="active">
                                            <img src="images/1.png" alt="" />
                                        </a>
                                    </li>
                                    <li class="tab col s3"><a href="#tab2">Test 2</a></li>
                                </ul>
                            </div>
                            <div id="tab1" class="s12 tab-content">
                                <ul>
                                    <li><img src="images/1.png" alt="" /></li>
                                    <li><img src="images/1.png" alt="" /></li>
                                    <li><img src="images/1.png" alt="" /></li>
                                    <li><img src="images/1.png" alt="" /></li>
                                    <li><img src="images/1.png" alt="" /></li>
                                    <li><img src="images/1.png" alt="" /></li>
                                    <li><img src="images/1.png" alt="" /></li>
                                    <li><img src="images/1.png" alt="" /></li>
                                    <li><img src="images/1.png" alt="" /></li>
                                    <li><img src="images/1.png" alt="" /></li>
                                    <li><img src="images/1.png" alt="" /></li>
                                    <li><img src="images/1.png" alt="" /></li>
                                    <li><img src="images/1.png" alt="" /></li>
                                </ul>
                            </div>
                            <div id="tab2" class="s12 tab-content">Test 2</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END CHAT BOX -->
        <!-- BEGIN SIDEBAR -->
        <div id="sidebar" class="right scroll">
            <div class="had-container">
                <!-- BEGIN USERS -->
                <div class="users">

                    <ul class="user-list">
                        <!-- BEGIN USER-->
                        <li class="user-tooltip" data-id="1" data-status="online" data-username="Rufat Askerov" data-position="left" data-filter-item data-filter-name="rufat askerov">
                            <!-- BEGIN USER IMAGE-->
                            <div class="user-image">
                                <img src="assets/images/avatar/1.jpg" class="avatar" alt="Rufat Askerov" />
                            </div>
                            <!-- END USER IMAGE-->
                            <!-- BEGIN USERNAME-->
                            <span class="user-name">Rufat Askerov</span>
                            <span class="user-show"></span>
                            <!-- END USERNAME-->
                        </li>
                        <!-- END USER-->
                        <!-- BEGIN USER-->
                        <li class="user-tooltip" data-id="3" data-status="online" data-username="Alice" data-position="left" data-filter-item data-filter-name="alice">
                            <div class="user-image">
                                <img src="assets/images/avatar/1.jpg" class="avatar" alt="Alice" />
                            </div>
                            <span class="user-name">Alice</span>
                            <span class="user-show"></span>
                        </li>

                        <!-- BEGIN USER-->
                        <li class="user-tooltip" data-id="7" data-status="offline" data-username="Michael Scofield" data-position="left" data-filter-item data-filter-name="michael scofield">
                            <div class="user-image">
                                <img src="assets/images/avatar/1.jpg" class="avatar" alt="Michael Scofield" />
                            </div>
                            <span class="user-name">Michael Scofield</span>
                            <span class="user-show"></span>
                        </li>

                        <!-- BEGIN USER-->
                        <li class="user-tooltip" data-id="5" data-status="online" data-username="Irina Shayk" data-position="left" data-filter-item data-filter-name="irina shayk">
                            <div class="user-image">
                                <img src="assets/images/avatar/1.jpg" class="avatar" alt="Irina Shayk" />
                            </div>
                            <span class="user-name">Irina Shayk</span>
                            <span class="user-show"></span>
                        </li>

                        <!-- BEGIN USER-->
                        <li class="user-tooltip" data-id="6" data-status="offline" data-username="Sara Tancredi" data-position="left" data-filter-item data-filter-name="sara tancredi">
                            <div class="user-image">
                                <img src="assets/images/avatar/1.jpg" class="avatar" alt="Sara Tancredi" />
                            </div>
                            <span class="user-name">Sara Tancredi</span>
                            <span class="user-show"></span>
                        </li>

                        <!-- BEGIN USER-->
                        <li class="user-tooltip" data-id="7" data-status="offline" data-username="Wolf" data-position="left" data-filter-item data-filter-name="Wolf">
                            <div class="user-image">
                                <img src="assets/images/avatar/1.jpg" class="avatar" alt="Wolf" />
                            </div>
                            <span class="user-name">Wolf</span>
                            <span class="user-show"></span>
                        </li>
                    </ul>
                    <div class="chat-user-search">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="ti-search"></i></span>
                            <input type="text" class="form-control" placeholder="Search" data-search />
                        </div>
                    </div>
                </div>
                <!-- END USERS -->

            </div>
        </div>
        <!-- END SIDEBAR -->
    </div>
    <!-- END chat -->
</div>
<!-- END chat Sidebar-->

<div class="content-wrap">
    <div class="main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 p-0">
                    <div class="page-header">
                        <div class="page-title">
                            <h1>Order List</h1>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 p-0">
                    <div class="page-header">
                        <div class="page-title">
                            <ol class="breadcrumb text-right">
                                <li><a href="#">Dashboard</a></li>
                                <li class="active">Order List</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-content">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="card alert">
                            <div class="card-header">
                                <h4>Order no.1</h4>
                                <div class="card-body">
                                    <table class="table table-responsive table-hover ">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Product</th>
                                                <th>Hot/Ice</th>
                                                <th>Quantity</th>
                                                <th>Price</th>
                                                <th>Delevery</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Americano</td>
                                                <td>Coffee</td>
                                                <td>Hot</td>
                                                <td>3</td>
                                                <td class="color-danger">60K</td>
                                                <td><span class="btn btn-warning">Delete</span></td>
                                            </tr>
                                            <tr>
                                                <td>Long Black</td>
                                                <td>Coffee</td>
                                                <td>Ice</td>
                                                <td>1</td>
                                                <td class="color-danger">20K</td>
                                                <td><span class="btn btn-warning">Delete</span></td>
                                            </tr>
                                            <tr>
                                                <td>Ms Taro</td>
                                                <td>Non-Coffee</td>
                                                <td>Normal</td>
                                                <td>2</td>
                                                <td class="color-danger">36K</td>
                                                <td><span class="btn btn-warning">Delete</span></td>
                                            </tr>
                                            <tr>
                                                <td>Ms Matcha</td>
                                                <td>Non-Coffee</td>
                                                <td>Normal</td>
                                                <td>1</td>
                                                <td class="color-danger">18K</td>
                                                <td><span class="btn btn-warning">Delete</span></td>
                                            </tr>
                                            <tr>
                                                <td>Kentang Goreng</td>
                                                <td>Snacks</td>
                                                <td>Original</td>
                                                <td>1</td>
                                                <td class="color-danger">11K</td>
                                                <td><span class="btn btn-warning">Delete</span></td>
                                            </tr>
                                            <tr>
                                                <td>Nasi Goreng Biasa</td>
                                                <td>Foods</td>
                                                <td>Normal</td>
                                                <td>1</td>
                                                <td class="color-danger">14K</td>
                                                <td><span class="btn btn-warning">Delete</span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="card alert">
                            <div class="card-header">
                                <h4>Order no.2</h4>
                                <div class="card-header-right-icon">
                                    <ul>
                                        <li class="card-close" data-dismiss="alert"><i class="ti-close"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="card alert">
                            <div class="card-header">
                                <h4>Order no.3</h4>
                                <div class="card-header-right-icon">
                                    <ul>
                                        <li class="card-close" data-dismiss="alert"><i class="ti-close"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                      </div>
                   </div><!-- /# column -->

                </div><!-- /# row -->
            </div><!-- /# container-fluid -->
        </div><!-- /# main -->
</div><!-- /# content wrap -->